@charset "UTF-8";

:root{
    --font-default: 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Passion;
    src: url(fonts/PassionOne-Regular.ttf);
    
}

@font-face {
    font-family: Sriracha;
    src: url(fonts/Sriracha-Regular.ttf);
}

body, html{
    font-family: var(--font-default);
}

header{
    font-family: Passion;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1{
    font-variant: small-caps;
    font-size: 10vh;
}

header > p > a{
    font-family: Passion;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

section{
    font-size: 4vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    width: 100%;
    background-color: red;
    padding-left: 30px;
}

section > p{
    font-family: Sriracha;
    
    
}

section.image{
    background-color: gray;
}

section.image > p{
    background-color: rgba(0, 0, 0, 0.412);
    color: white;
    width: 400px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

footer > a {
    font-size: 1.5em;
    text-decoration: none;
    font-family: Passion;
    color: white;
}

footer > a:hover, header > p > a:hover{
    text-decoration: underline;
}