@charset "UTF-8";

:root{
    --font-default: 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Passion;
    src: url(fonts/PassionOne-Regular.ttf);
    
}

@font-face {
    font-family: Sriracha;
    src: url(fonts/Sriracha-Regular.ttf);
}

body, html{
    font-family: var(--font-default);
}

header{
    font-family: Passion;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1{
    font-variant: small-caps;
    font-size: 10vh;
}

header > p > a{
    font-family: Passion;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

section{
    font-size: 4vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    width: 100%;
    padding-left: 30px;
}

section > p{
    text-shadow: 1px 1px 1px;
    padding-bottom: 2em;
    font-family: Sriracha;
    
    
}

section.image{
    background-attachment: fixed;
    box-shadow: inset -1px 3px 3px 2px rgb(0 0 0 / 53%);
    background-color: gray;
}

section.image > p{
    text-shadow: 1px 1px 1px;
    background-color: rgba(0, 0, 0, 0.504);
    color: white;
    width: 330px;
    border-radius: 10px;
    padding: 10px;
}

section#img1{
    width: 100%;
    z-index: -1;
    background-image: url(imagens/background001.jpg);
    background-position: right ;
    background-size: cover;
    
}

section#img2{
    width: 100%;
    z-index: -1;
    background-image: url(imagens/background002.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

footer > a {
    font-size: 1.5em;
    text-decoration: none;
    font-family: Passion;
    color: white;
}

footer > a:hover, header > p > a:hover{
    text-decoration: underline;
}
